.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: #000;
  width: 70%;
  max-width: 900px;
  border-radius: 12px;
  padding: 15px;
}

.close-btn {
  color: white;
  background: none;
  border: none;
  font-size: 22px;
  float: right;
  cursor: pointer;
}
