#boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  
  padding-top: 90px; 
}
@media (max-width: 480px) {
  #boxes {
    flex-direction: column;
    align-items: center;
    
     padding-top: 110px; 
  }
}