#boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  padding: 20px;
  padding-top: 100px;   
  min-height: calc(100vh - 80px);
}
@media (max-width: 480px) {
  #boxes {
    padding-top: 120px;
    min-height: auto;
  }
}
