.home-page {
  background: #f8fafc;
  width: 100%;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  padding: 20px;
  padding-top: 120px;   

  width: 100%;
  position: relative;
  z-index: 1;
}

@media (max-width: 480px) {
  #boxes {
    padding-top: 140px;
  }
}

